h1 {
  line-height: 70px;
}
h2 {
  width: 900px;
  margin: 50px auto 80px auto;
  text-align: center;
}
h4 {
  font-size: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.base {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  width: 650px;
}

.holders {
  margin: 0 auto;
  width: 440px;
  display: flex;
  justify-content: space-between;
  margin-top: -130px;
}

.holders img {
  width: 34px;
  margin-left: -10px;
}

.deam {
  display: block;
  margin: 0 auto;
  width: 650px;
  margin-top: -390px;
}

.rigth_bloc {
  display: flex;
  flex-direction: column;
}
.dumbbell_rigth {
  width: 100px;
  margin-left: 60px;
}
.panse_rigth {
  width: 220px;
  margin-bottom: -115px;
}

.panse_left {
  width: 220px;
  margin-bottom: -125px;
}
.dumbbell_left {
  width: 70px;
  margin-left: 30px;
}
.cat {
  width: 90px;
}
.left_bloc {
  margin-top: -100px;
  margin-bottom: 150px;
}

.flex {
  margin: 0 auto;
  width: 620px;
  display: flex;
  justify-content: space-between;
  margin-top: -100px;
}

.imput_block {
  margin: 0 auto;
  margin-top: 140px;
  width: 420px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 200px;
  padding: 9px 12px;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 18px;
}

.btn {
  height: 40px;
  width: 120px;
  display: block;
  background-color: rgb(156, 97, 214);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgb(176, 121, 231);
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.modal button {
  margin: 0 auto;
}
